
/* basic setup */
body{
    font-family: "Raleway", sans-serif;
    height: 100%;
}

/* main container */
#container {
    background: #bbb;
    position: absolute;
    height: 100%;
    width: 100%;
}

/* row stuff */
.row {
    width:100%;
    background: #999;
    text-align:center;
    height: 50%;
    display: table;
}

.row-90 { height: 90%; }
.row-85 { height: 85%; }
.row-80 { height: 80%; }
.row-75 { height: 75%; }
.row-70 { height: 70%; }
.row-60 { height: 60%; }
.row-50 { height: 50%; }
.row-40 { height: 40%; }
.row-30 { height: 30%; }
.row-25 { height: 25%; }
.row-20 { height: 20%; }
.row-15 { height: 15%; }
.row-10 { height: 10%; }

.row-44 {
    height: 44%;
}

.row-header {
    height: 8%;
}

.row-footer {
    height: 4%;
}

/* panel stuff */
.panel {
    height: 100%;
    display: table-cell;
    width:25%;
    vertical-align: middle;
    text-align:center;
    background: #333;
    padding: 5px;
}

.panel-inside {
    background: #fff;
    height: 100%;
    width: 100%;
    position:relative;
}

.panel .top {
    padding: 0 0 5px;
}

.panel .bottom {
    padding: 5px 0 0;
}

/* font sizing */
h1 { font-size: 2em; }
h2 { font-size: 1.6em; }
.big { font-size: 3em; }

/* color backgrounds (for laying out blocks */
.bg-b { background: #00f; }
.bg-g { background: #0f0; }
.bg-r { background: #f00; }
.bg-c { background: #0ff; }
.bg-y { background: #ff0; }
.bg-m { background: #f0f; }
.bg-w { background: #fff; }
.bg-0 { background: #000; }
.bg-3 { background: #333; }
.bg-6 { background: #666; }
.bg-7 { background: #777; }
.bg-8 { background: #888; }
.bg-9 { background: #999; }


/* extra helpers */
.p-0 {
    padding: 0;
}


















