body{
    font-family: "Raleway", sans-serif;
}


#container {
    background: #bbb;
    position: absolute;
    height: 100%;
    width: 100%;
}

.row {
    width:100%;
    height:33.33333%;
    background: #999;
    text-align:center;
    display: table;
}

.row .half {
    height: 50%;
}

.panel {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    background: #666;
    padding: 10px;
}

.panel .top {
    padding: 0 0 10px;
}

.panel .bottom {
    padding: 10px 0 0;
}

.panel-inside {
    background: #fff;
    height: 100%;
    width: 100%;
    position:relative;
}

.panel-title {
    position: absolute;
    top: 5%;
    width: 100%;
    background: #eee;
}




