body{
    font-family: "Raleway", sans-serif;
    height: 100%;
}


#container {
    background: #bbb;
    position: absolute;
    height: 100%;
    width: 100%;
}

.row {
    width:100%;
    background: #999;
    text-align:center;
    height: 50%;
    display: table;
}

.row .half {
    height: 50%;
}

.row .third {
    height: 33.333333%;
}

.panel {
    height: 100%;
    display: table-cell;
    width:25%;
    vertical-align: middle;
    text-align:center;
    background: #666;
    padding: 5px;
}

.panel .top {
    padding: 0 0 5px;
}

.panel .bottom {
    padding: 5px 0 0;
}

.panel-inside {
    background: #fff;
    height: 100%;
    width: 100%;
    position:relative;
}

.panel-title {
    position: absolute;
    top: 5%;
    width: 100%;
    background: #eee;
}




